
       </div><!-- Conteudo1-->
        </div><!--Parte1-->

                      <div id="footer">
           
           <div id="box_footer">
           
            <ul>
            <li class="topico">Inicio</li>
               <li><a href="index.php?pagina=page/home">Home</a></li> 
               <li><a href="index.php?pagina=page/page&amp;paginas=2">Sobre</a></li> 
               <li><a href="index.php?pagina=page/page&amp;paginas=4">Serviços</a></li> 
               <li><a href="index.php?pagina=page/page&amp;paginas=3#todos">Novidades</a></li> 
               <li><a href="index.php?pagina=page/page&amp;paginas=5">Contatos</a></li> 
            </ul>   
            
            
            <ul>
             <li class="topico">Imoveis</li>
               <li><a href="index.php?pagina=page/page&amp;paginas=3">Pesquisa Dinamica</a></li> 
               <li><a href="index.php?pagina=page/page&amp;paginas=3#todos">Todos os Imoveis</a></li> 
               <li><a href="index.php?pagina=page/page&amp;paginas=3#todos">Mais Recentes</a></li>
            </ul>   
            
            
            
            <ul class="social">
               <li><img src="images/layout/facebook.jpg" /><a href="#">Facebook</a></li> 
               <li><img src="images/layout/twitter.jpg" /><a href="#">Twitter</a></li> 
               <li><img src="images/layout/email.jpg" /><a href="#">E-mail</a></li>
               <li><img src="images/layout/youtube.jpg" /><a href="#">Youtube</a></li>
               <li><img src="images/layout/skype.jpg" /><a href="#">Skype</a></li>

           </ul>  
            
           
             <span>© 2013 Desenvolvido por SpellTech Creative Design ©. Todos os drireitos reservados</span>
           </div><!-- Box Footer -->
            
         
       
       </div><!--Footer -->
                  
                     
                  
              

</body>
</html>