    <div id="top">
           
          <div id="topo_logo">
            <a href="index.php?pagina=page/home"><img class="logo" src="images/layout/logo.png"></a>
            <div class="ilust"></div>
            
          </div>
          
           <div id="parttop">

           <div id="menu">
    <ul class="menu">
       <li><a href="home"><span>Home</span></a></li>
        <li><a href="index.php?pagina=page&amp;paginas=2"><span>Sobre</span></a></li>
        
        <li><a href="#" class="parent"><span>Imoveis</span></a>
            <div class="columns two">
                <ul class="one">
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Casa</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Sobrado</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Apartamento</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Condominio</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Cobertura</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Propriedade Rural</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Terreno</span></a></li>
                </ul>
                <ul class="two">
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Comercial</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Conjunto Comercial</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Galpão/Depósito/Armazém</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Hotel/Motel</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Studio</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Predio</span></a></li>
                    <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Pousada</span></a></li>
                </ul>
            </div>
        </li>
       <li><a href="index.php?pagina=page&amp;paginas=4"><span>Serviços</span></a></li>
        <li><a href="index.php?pagina=page&amp;paginas=3#todos"><span>Novidades</span></a></li>
        <li><a href="index.php?pagina=page&amp;paginas=5"><span>Contato</span></a></li>
    </ul>
</div>

<div id="copyright"><a href="http://apycom.com/"></a></div>
            </div><!--Parttopo-->
           </div><!-- topo -->
           
       
        <div id="conteudo1">
           <div id="parte1"> 