<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>

	<rule name="r1">
		<match url="admin/([a-zA-Z0-9-_/]+)/?$" ignoreCase="true" />
		<action type="Rewrite" url="index.php?dir=admin&amp;route={R:1}" appendQueryString="false" />
	</rule>		
	
	<rule name="r2">
	<match url="^admin/([a-zA-Z0-9-_/]+)?$" ignoreCase="true" />
	<action type="Rewrite" url="index.php?dir=admin&amp;route=index" appendQueryString="false" />
	</rule>	
	
	<rule name="r3">
	<match url="admin([a-zA-Z0-9-_/]+)?$" />
	<action type="Rewrite" url="index.php?dir=admin&amp;route=index" />
	</rule>
	
	<rule name="r4">
	<match url="^([a-zA-Z0-9-_/]+)/?$" ignoreCase="true" />
	<action type="Rewrite" url="index.php?route={R:1}" appendQueryString="false" />
	</rule>		
	
	<rule name="r5">
	<match url="^([a-zA-Z0-9-_/]+)?$" ignoreCase="true" />
	<action type="Rewrite" url="index.php?route=index" appendQueryString="false" />
	</rule>		
	
</rules>
</rewrite>
</system.webServer>
</configuration>